<!DOCTYPE html>
<html style="height:100%">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Nyumba za bei nafuu</title>

<style>@media (prefers-color-scheme:dark){body{background-color:#000!important}}</style></head>
<body style="color: #444; margin:0;font: normal 14px/20px Arial, Helvetica, sans-serif; height:80%; background-color: #fff;">
<div style="height:auto; min-height:100%; ">     <div style=" width:100px; margin-left: -100px; position:absolute; top: 30%; left:50%;">
        <h1 style="margin:0; font-size:80px; line-height:80px; font-weight:bold;">Sent</h1>

</div></div></body></html>
